{{set root=".."}}
{{set pageId="main"}}
{{>header title="Pi-story" cssName="main"}}

<section class="content-body">
	<ul>
		<li class="img-box">
			<img src="{{root}}/img/2017_노스페이스_01.jpg">
			<div class="dark-layer">
				<div class="description-box">
					<div class="title">
						2017_THE NORTHFACE
					</div>
					<div class="description">
						개인 작업
					</div>
				</div>
			</div>
		</li>
		<li class="img-box">
			<img src="{{root}}/img/2017_올푸페_01.jpg">
			<div class="dark-layer">
				<div class="description-box">
					<div class="title">
						2017_OLIVE_FOOD_FESTIVAL
					</div>
					<div class="description">
						실무 작업
					</div>
				</div>
			</div>
		</li>
		<li class="img-box">
			<img src="{{root}}/img/2017_open_01.jpg">
			<div class="dark-layer">
				<div class="description-box">
					<div class="title">
						2017_OPEN
					</div>
					<div class="description">
						실무 작업
					</div>
				</div>
			</div>
		</li>
	</ul>
</section>

{{>footer jsName="main"}}
