{{set root=".."}}
{{set pageId="main"}}
{{>header title="Pi-story" cssName="main"}}

<section class="category">
	<ul>
		<li class="category active" value="all">
			All
		</li>
		<li class="category" value="web">
			Web
		</li>
		<li class="category" value="ad">
			Ad
		</li>
		<li class="category" value="ect">
			Ect
		</li>
	</ul>
</section>

<section class="main-content-body">
	<section class="main-thumbnail">
		<ul>
			<li class="img-box" project_id="01">
				<img src="{{root}}/img/2017_노스페이스_01.jpg">
				<div class="dark-layer">
					<div class="description-box">
						<div class="title">
							2017_THE NORTHFACE
						</div>
						<div class="description">
							개인 작업
						</div>
					</div>
				</div>
			</li>
			<li class="img-box" project_id="02">
				<img src="{{root}}/img/2017_올푸페_01.jpg">
				<div class="dark-layer">
					<div class="description-box">
						<div class="title">
							2017_OLIVE_FOOD_FESTIVAL
						</div>
						<div class="description">
							실무 작업
						</div>
					</div>
				</div>
			</li>
			<li class="img-box" project_id="03">
				<img src="{{root}}/img/2017_open_01.jpg">
				<div class="dark-layer">
					<div class="description-box">
						<div class="title">
							2017_OPEN
						</div>
						<div class="description">
							실무 작업
						</div>
					</div>
				</div>
			</li>
			<li class="img-box" project_id="04">
				<img src="{{root}}/img/2016_tvN_festival_main.jpg">
				<div class="dark-layer">
					<div class="description-box">
						<div class="title">
							2016_tvN FESTIVAL
						</div>
						<div class="description">
							실무 작업
						</div>
					</div>
				</div>
			</li>
			<li class="img-box" project_id="05">
				<img src="{{root}}/img/2016_tvN_main_home_02.jpg">
				<div class="dark-layer">
					<div class="description-box">
						<div class="title">
							2016_tvN HOME
						</div>
						<div class="description">
							실무 작업
						</div>
					</div>
				</div>
			</li>
			<li class="img-box" project_id="06">
				<img src="{{root}}/img/2016_beauty_in_me_00.jpg">
				<div class="dark-layer">
					<div class="description-box">
						<div class="title">
							2016_BEAUTY IN ME
						</div>
						<div class="description">
							실무 작업
						</div>
					</div>
				</div>
			</li>
			<li class="img-box" project_id="07">
				<img src="{{root}}/img/2014_line_sweets_00.jpg">
				<div class="dark-layer">
					<div class="description-box">
						<div class="title">
							2014_LINE SWEETS
						</div>
						<div class="description">
							제안 시안 작업
						</div>
					</div>
				</div>
			</li>
			<li class="img-box" project_id="08">
				<img src="{{root}}/img/2014_god_of_war_00.jpg">
				<div class="dark-layer">
					<div class="description-box">
						<div class="title">
							2014_GOD OF WAR
						</div>
						<div class="description">
							제안 시안 작업
						</div>
					</div>
				</div>
			</li>
			<li class="img-box" project_id="09">
				<img src="{{root}}/img/2014_elsword_01.jpg">
				<div class="dark-layer">
					<div class="description-box">
						<div class="title">
							2014_ELSWORD
						</div>
						<div class="description">
							제안 시안 작업
						</div>
					</div>
				</div>
			</li>
		</ul>
	</section>
	<section class="project-layer">
		<div class="close-area">
			<img class="default" src="{{root}}/img/close_bt_off.png">
			<img class="active" src="{{root}}/img/close_bt_on.png">
		</div>
		<div class="text-area">
			<ul>
				<li label="project">
					<div class="label-name" label="project">
						PROJECT
					</div>
					<div class="project-text" label="project">

					</div>
				</li>
				<li label="work">
					<div class="label-name" label="work">
						WORK
					</div>
					<div class="project-text" label="work">

					</div>
				</li>
				<li label="about">
					<div class="label-name" label="about">
						ABOUT PROJECT
					</div>
					<div class="project-text" label="about">

					</div>
				</li>
			</ul>
		</div>
		<div class="img-area">

		</div>
		<div class="paging-area">
			<div class="pre">
				<img class="default" src="{{root}}/img/pre_bt_off.png">
				<img class="active" src="{{root}}/img/pre_bt_on.png">
			</div>
			<div class="next">
				<img class="default" src="{{root}}/img/next_bt_off.png">
				<img class="active" src="{{root}}/img/next_bt_on.png">
			</div>
		</div>
	</section>
</section>

{{>footer jsName="main"}}
