<footer>
	<div class="copy-right">
		© 2017 Sohyun Baek. All rights reserved.
	</div>
</footer>
<script>
	window._ctx = {
		root: "{{root}}",
		pageId: "{{pageId}}",
	};
</script>
<script src="{{root}}/plugins/requirejs/require.min.js"></script>
<script src="{{root}}/js/require.config.js"></script>
<script src="{{root}}/js/{{jsName}}.js"></script>
</body>
</html>
