<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>{{title}}</title>

	<meta name="description" content="">
	<meta name="viewport" content="width = device-width, initial-scale=1">

	<link rel="shortcut icon" href="{{root}}/img/favicon.png" type="image/x-icon">
	<link rel="icon" href="{{root}}/img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="{{root}}/apple-touch-icon.png">
	<link rel="stylesheet" href="{{root}}/plugins/normalize/normalize.css">
	<link rel="stylesheet" href="{{root}}/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{root}}/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{root}}/css/{{cssName}}.css">
	<script src="{{root}}/plugins/modernizr/modernizr-2.8.3.min.js"></script>
</head>
<body>

<header>
	<div class="site-name">
		<img class="home-btn default" src="{{root}}/img/home_bt_off.png">
		<img class="home-btn active" src="{{root}}/img/home_bt_on.png">
	</div>
	<div class="admin-info">
		<div class="e-mail">
			baeksohyun90@gmail.com
		</div>
		<div class="phone-num">
			+82 (0)7367 2991
		</div>
	</div>
	<div class="loading-bar"></div>
</header>


